* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    color: #202124;
}


/* MAIN LAYOUT */

.main-layout {
    max-width: unset;
    margin: auto;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

@media screen and (min-width: 670px) {
    .main-layout {
        max-width: 1100px;
        margin: auto;
        padding-inline-start: 10px;
        padding-inline-end: 10px;
    }
    main {
        padding-block-end: 100px;
    }
}