.mail-app {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
}

.mail-app-wrapper {
    display: flex;
    gap: 60px;
}

.mail-app .header {
    display: flex;
    align-items: center;
}