.mail-details, .mail-details-container {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
}

.mail-details-wrapper {
    display: flex;
    gap: 60px;
}

.mail-details-container h1 {
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0;
}