.mail-details, .mail-details-container {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
}

.mail-details-wrapper {
    display: flex;
    gap: 60px;
}

.mail-details-container h1 {
    min-width: 201px;
    margin: 0;
    display: flex;
    align-items: start;
    height: 60px;
}

@media screen and (min-width: 670px) {
    .mail-details-container h1 {
         height: 60px;
    }
}