.mail-app {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
}

.mail-app-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.mail-app .header {
    display: block;
}

.mail-app .header h1 {
    min-width: 201px;
    height: 100%;
    margin: 0;
    margin-block-end: 30px;
}

@media screen and (min-width: 670px) {
    .mail-app-wrapper {
        flex-direction: row;
        gap: 60px;
    }
    .mail-app .header {
        display: flex;
        align-items: center;
        height: 60px;
    }
    .mail-app .header h1 {
        margin-block-end: 0;
    }
}