header {
    background-color: #f4f1ea;
    box-shadow: 0 0 2px 0 black;
}

.app-header {
    height: 50px;
    color: rgb(56, 33, 16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.app-header h1 {
    font-size: 2rem;
    text-shadow: rgb(206, 149, 105) 1px 1px 3px;
    margin: 0px;
}

.app-header h1 a:-webkit-any-link {
    color: unset;
    text-decoration: none;
}

.app-header nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.app-header>nav>.link {
    height: 100%;
    box-shadow: 1px 0px 1px 0px #9e9e9e;
    width: 80px;
}

.app-header>nav>.link:first-child {
    box-shadow: 0px -1px 1px 1px #9e9e9e;
}

.app-header>nav>.link>a {
    color: rgb(56, 33, 16);
    font-size: 1rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    transition: all 0.2s ease 0s;
    justify-content: center;
}

.app-header>nav a:hover, .app-header>nav a.active {
    color: whitesmoke;
    background: #382110;