.mail-compose-container .compose {
    color: #d93025;
    border-radius: 24px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    letter-spacing: .25px;
    align-items: center;
    display: inline-flex;
    font-weight: 500;
    height: 48px;
    width: 140px;
    margin-block-end: 20px;
    padding-inline-start: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.mail-compose-container .compose::before {
    content: url(../../../../img/apps/mail/compose.png);
}

.mail-compose-container .compose:hover {
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    background-color: #fafafb;
}

.mail-compose-container .mail-compose {
    position: fixed;
    width: 400px;
    height: 420px;
    z-index: 5;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: white;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    box-shadow: 0 0 3px 0 black;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

.mail-compose-container .compose.active~.mail-compose {
    opacity: 1;
    pointer-events: unset
}

.mail-compose .mail-compose-to input, .mail-compose .mail-compose-subject input {
    font-size: 1.1rem;
    width: 100%;
    border: 0;
    border-block-end: 1px solid #e0e0e0;
    margin-block-end: 15px;
    outline: 0;
}

.mail-compose .send-btn {
    position: absolute;
    bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 2px 0 black;
    border-radius: 5px;
    background: #357093;
    color: whitesmoke;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

.mail-compose .send-btn:hover {
    background-color: #4381a5;
}

.mail-compose .save-exit-btn {
    position: absolute;
    bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 2px 0 black;
    border-radius: 5px;
    background: #f4f1ea;
    color: #382110;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    left: 140px;
}

.mail-compose .save-exit-btn:hover {
    background-color: #eae4d6;
}

.mail-compose .remove-draft-btn {
    position: absolute;
    bottom: 8px;
    inset-inline-end: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.mail-compose .remove-draft-btn img {
    width: 30px;
}

.mail-compose .remove-draft-btn:hover {
    opacity: 0.6;
}

.mail-compose .mail-compose-body textarea {
    resize: none;
    width: 100%;
    height: 215px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}

.mail-compose .form-header{
    background-color: #382110;
    padding: 15px;
    color: whitesmoke;
    font-size: 1.5rem;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    box-shadow: 0 0px 3px 0 black;
}

.mail-compose form{
    padding: 15px;
}