.note-list .note-pinned-container {
    column-count: 3;
    column-width: 200px;
    column-gap: 50px;
    margin: 20px;
    min-height: fit-content;
}

.note-list .note-preview-container {
    column-count: 3;
    column-width: 200px;
    column-gap: 50px;
    margin: 20px;
    min-height: fit-content;
}

.note-pinned-container>article {
    -webkit-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 10px;
}

.note-preview-container>article {
    -webkit-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 10px;
}

.note-list article section {}

.note-list article section button {
    margin: 10px;
}