.note-preview {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.note-preview img {
    background-color: #fff;
    padding: 10px;
}


/* Notes Buttons */

.note-preview button {
    background-color: #fce8e6;
    border-color: transparent;
    border-radius: 4px;
    height: 35px;
    font-weight: bold;
}