.edit-options {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-options.active {
    display: flex;
}

.edit-options .add-note-btn {
    background-color: #fce8e6;
    border-color: transparent;
    border-radius: 4px;
    height: 35px;
    font-weight: bold;
    margin: 10px;
}

.edit-options button {
    background-color: #fce8e6;
    border-color: transparent;
    border-radius: 3px;
    margin: 5px;
}

.choose-note-txt {
    font-size: 0.8rem;
    text-align: center;
}

.form-btns-container {
    display: none;
}

.form-btns-container.active {
    display: block;
}